body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(8, 8, 8);
}
#logo{
    display: flex;
    text-align: center;
    align-items: center;
}
header{
    display: flex;
    background-color: rgb(8, 8, 8); 
    color: rgba(60, 18, 156, 0.89);
    text-align: center;
    align-items: center;
    justify-content: center;
}
hr{
    margin: 0;
    border-color: rgba(60, 18, 156, 0.89);
}
.descricao{
    color: floralwhite;
    display: flex;
    justify-content: center;
    text-align: center;
}
.pesquisa{
    display: flex;
    justify-content: center;
}
.caixaPesquisa{
    background-color: white;
    outline: solid 3px rgba(60, 18, 156, 0.89);
    width: 39%;
    height: 5vh;
    border-radius: 10vw;
    display: flex;
    justify-content: space-between;
}
.inputPesquisa::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
}
.botaoPesquisa{
    color: rgb(0, 0, 0);
    margin-right: 1vw;
    border: none;
    background-color: white;
    border-radius: 100%;
}
.botaoPesquisa:hover{
    cursor: pointer;
}
.inputPesquisa{
    margin-left: 1vw;
    border: none;
    width: 80%;
    border-radius: 80%;
}
.botaoPesquisa:focus{
    outline: 0;
}
.inputPesquisa:focus{
    outline: 0;
}
.filmesPesquisa{
    margin-top: 4vh;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 25, 25);
    width: 80%;
    margin-left: 10%;
    display: none;
    height: fit-content;
    outline: 1px solid rgba(60, 18, 156, 0.89);
}
.filmesPesquisa img{
    width: 100%;
    height: 100%;
}
.corpoDoSite{
    width: 100%;
    display: block;
}
.informacoesPesquisa{
    margin-left: 2vw;
    margin-right: 2vw;
    width: 75%;
}
footer{
    color: rgba(255, 255, 255, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    width: 100%;
}

footer p{
    margin: 0;
    margin-left: 0.5vw;
    font-size: 1rem;
}
@media(max-width: 750px) {
    .filmesPesquisa{
        height: fit-content;
        flex-wrap: wrap;
        text-align: justify;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 3vh;
        border: 1px solid rgba(60, 18, 156, 0.89);
        outline: none;
        justify-content: center;
    }
    .caixaPesquisa{
        width: 90%;
    }
    .informacoesPesquisa{
        width: 100%;
    }
    .filmesPesquisa img{
        width: 100%;
        margin: 0;
    }
    .poster{
        width: 100%;
        border-bottom: 1px solid rgba(60, 18, 156, 0.89);
    }
}